main {
  transform: skew(0, 2deg);
  margin-top: 200px;

  .first-page {
    text-align: center;
  }

  .book {
    font-size: 0.8em;
    font-style: italic;
    text-align: justify;
    text-align-last: center;
    /* column-count: 2; */
    margin-left: 100px;
    margin-right: 100px;
    /* TODO skew */
  }

  p.summary {
    font-size: 1.2em;
    color: var(--color-primary);
    font-style: italic;
  }
  /* Drop caps */
  div p:first-child::first-letter {
    float: left;
    font-weight: 100;
    font-size: 72px;
    background: var(--color-primary);
    color: var(--color-light);
    padding: 16px;
    margin: 0;
    text-shadow: 4px 4px black, 8px 8px white, -4px -4px black,
      -8px -8px white
        /*4px -4px white,
    -8px 8px black,
    -4px 4px white,
    8px -8px black*/;
  }
}

@media only screen and (max-width: 600px) {
  main {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
