html, body, .container {
    margin: 0;
    width: 100%;
}

body {
    background: white;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    line-height: 1.7em;
    color: black;
    text-align: center;
    margin: 0;
}

a {
    color: #00cf88;
    text-decoration: none;
    font-weight: bold;
}

/*********** layout *************/
h1, h2, h3, h4, h5 {
    font-style: italic;
}
main {
    margin: 100px 20px;
}

/***** tests *****/
.shadow1 {
    position:absolute;
    top:40px; left: 400px;
    opacity: 5;
    width: 400px;
    height: 500px;
    background: radial-gradient(circle, 
        rgba(255,216,0,1) 0%, 
        rgba(255,255,255,0) 49%
    );
}
