html, body, .container {
    margin: 0;
    width: 100%;
}

body {
    background: white;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    line-height: 1.7em;
    color: black;
    text-align: center;
    margin: 0;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
}

/*********** layout *************/
h1, h2, h3, h4, h5 {
    font-style: italic;
}
main {
    margin: 100px 20px;
}