nav {
    width: 100%;
    margin: 0;
    padding: 10px 0 30px 0;
    color: #00cf88;
    top: 0;
    position: absolute;
    text-align: center;
    z-index: 1;
    background: black;
    height: 30px;
}
nav a {
    font-size: 56px;
}
nav:hover div {
    transition: 10s;
    transform: rotate(1080deg);
}
nav div {
    transition: 10s;
}