.shadow {
    position:fixed;
    opacity: 5;
    margin: 0 auto;
}
.shadow001 {
    top:-10px;
    left: 25%;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle,
        rgba(255, 216, 0, .5) 0%,
        rgba(16, 197, 200, 0) 49%
    );
}
.shadow002 {
    top:-20%;
    left: -10%;
    width: 1600px;
    height: 1600px;
    background: radial-gradient(circle,
        rgb(77, 176, 176, .8) 0%,
        rgba(212, 235, 11, 0) 49%
    );
}
