:root{
    /* SIZES */
    /* FONTS */
    --text-primary: 'Space Mono';
    --text-secondary: 'Garamond';
    /* COLORS */
    --color-light: #f4eed7;
    --color-light--transparent: #f4eed755;
    --color-dark: rgb(0, 28, 12);
    --color-primary: #00cf88;
    --color-secondary: #dcff40;
  }